{%  extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1> Home Page </h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <br>
            <h1>Welcome</h1>
            <p> Welcome to my first Webpage Framework made by using Flask. It allows you to create, edit and delete your blogs.
                It is made by Aryaman Sandesh Kakad. I am a Second Year B.Tech Engineering Student.
                I am pursuing my Bachelors in Computer Science specialisatin in Information Security at Vellore Insitute of Technology.
                Hope You like my First Project and there are many more to come for sure. </p>
            <p>Go visit the About Section to know more about me and I have also listed my social accounts for your references.
               Thank you so much!  
               Contact Number : 9819671319 </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}